@import "tailwindcss";

/* Tailwind v4 CSS config */
@theme {
  /* Colors */
  --color-trust-50:  #e0f7f7;
  --color-trust-100: #b3e3e3;
  --color-trust-200: #80cccc;
  --color-trust-300: #4db6b6;
  --color-trust-400: #269f9f;
  --color-trust-500: #0e8a8a;
  --color-trust-600: #087373;
  --color-trust-700: #065c5c;
  --color-trust-800: #044a4a; /* Main */
  --color-trust-900: #033333;

  /* Fonts */
  --font-opensans: "Open Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-cinzel: "Cinzel", serif;
  --font-cormorant: "Cormorant Garamond", serif;
}
